html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bodyBackgroundColor);
    background-image: var(--backgroundImage);
    font-family: var(--fontFamily);
    font-size: 1rem;
    text-rendering: optimizeLegibility;
}

button {
    height: 1.5rem;
    margin: 0.1rem;
}

.RouterContainer {
    margin: 1rem;
    margin-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.marginTop1Rem {
    margin-top: 1rem;
}

.marginBottom0_5Rem {
    margin-bottom: 0.5rem;
}

.marginBottom1Rem {
    margin-bottom: 1rem;
}

.marginRight0_5Rem {
    margin-right: 0.5rem;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
    padding: 0.25rem;
    border-radius: 5px;
    margin-top: -29px;
    transform: translateX(-60%);
    font-size: 0.8rem;
    white-space: nowrap;
    pointer-events: none;
}

button:hover .tooltip {
    visibility: visible;
}

.formErrorMsg {
    color: red;
    font-size: 0.8rem;
    align-self: center;
    margin-bottom: 0.5rem;
}