.SearchModal {
    background-color: var(--bodyBackgroundColor);
    background-image: var(--backgroundImage);
    border: 2px solid var(--dividersColor);
    position: fixed;
    z-index: 5;
    top: 25%;
    width: 75%;
    margin-top: -100px;
    /* Negative half of height. */
    left: 12.5%;
    /* Negative half of width. */
}