.App h1,
.App h2,
.App h3,
.App h4 {
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-family: MrJeeves;
    font-weight: 800;
    color: #58180D
}

.App h1 {
    font-size: 3rem;
}

/*.App h1+p::first-letter {
    float: left;
    font-family: Solberry;
    font-size: 10rem;
    color: #222;
    line-height: .795em
}*/

.App h2 {
    font-size: 2rem;
}

.App h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #c9ad6a
}

.App h4 {
    margin-bottom: 0;
    font-size: .458cm
}

.App h5 {
    margin-bottom: .2em;
    font-family: ScalySansSmallCaps;
    font-size: .423cm;
    font-weight: 900
}

.App blockquote {
    font-family: ScalySans;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 5px 10px;
    background-color: #e0e5c1;
    border-style: solid;
    border-width: 11px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==") 11;
    border-image-outset: 9px 0px;
    box-shadow: 1px 4px 14px #888
}

.App blockquote em {
    font-family: ScalySans;
    font-style: italic;
}

.App blockquote strong {
    font-family: ScalySans;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.App blockquote p,
.App blockquote ul {
    font-size: 0.8rem;
    line-height: 1.083em;
}

.App pre+blockquote,
.App h2+blockquote,
.App h3+blockquote,
.App h4+blockquote,
.App h5+blockquote {
    margin-top: 13px;
}

.App p,
.App p code {
    font-family: ScalySans;
}


.App pre,
.App pre code {
    font-family: ScalySans;
    display: block;
    box-sizing: border-box;
    margin: 2.5rem 2.5rem 2.5rem 2.5rem;
    padding: 5px 10px;
    background-color: #e2d4c0;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==") 11;
    border-style: solid;
    border-width: 11px;
    border-image-outset: 9px 0px;
    box-shadow: 1px 4px 14px #888;
    line-height: 1.083em;
    font-size: 0.9rem;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
}

.App hr {
    margin: 1px;
    border: 0px;
    border-top: 1px solid #c9ad6a;
    margin: 1rem 1rem 1rem 1rem;
}