.App {
}

.AppContainer {
}

.App h1,
.App h2,
.App h3,
.App h4 {
    margin-top: 0.2rem;
    font-family: var(--titlesFontFamily);
    font-weight: 100;
    color: var(--titlesColor);
}

.App h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.App h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.App h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--dividersColor);
    margin-bottom: 0.5rem;
}

.App h4 {
    font-size: 1.3rem;
    margin-bottom: -0.5rem;
}

.App h5 {
    margin-bottom: 0.2em;
    font-family: var(--fontFamily);
    font-size: 0.423cm;
    font-weight: 900;
}

.App code {
    background-color: #cacaca;
    border-radius: 5px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

@media (max-width: 400px) {
    .App h1 {
        font-size: 2rem;
        margin-top: 0.75rem;
    }

    .App h2 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .App h3 {
        font-size: 1.2rem;
    }

    .App h4 {
        font-size: 1.1rem;
    }

    .App h5 {
        font-size: 0.3cm;
    }
}

.App blockquote {
    font-family: var(--fontFamily);
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: var(--descriptionBlockColor);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 1px 4px 14px #888;
    margin-left: 1rem;
    margin-right: 1rem;
    font-style: italic;
}

.App blockquote em {
    font-family: var(--fontFamily);
    font-style: italic;
}

.App blockquote strong {
    font-family: var(--fontFamily);
    font-weight: 800;
    letter-spacing: -0.02em;
}

.App blockquote p,
.App blockquote ul {
    font-size: 0.9rem;
    line-height: 1.083em;
}

.App pre + blockquote,
.App h2 + blockquote,
.App h3 + blockquote,
.App h4 + blockquote,
.App h5 + blockquote {
    margin-top: 13px;
}

.App pre + .se-image-container,
.App h2 + .se-image-container,
.App h3 + .se-image-container,
.App h4 + .se-image-container,
.App h5 + .se-image-container {
    margin-top: 13px;
}

.App p,
.App p code {
    font-family: var(--fontFamily);
}

.App pre,
.App pre code {
    font-family: var(--fontFamily);
    display: block;
    box-sizing: border-box;
    margin: 0rem 2.5rem 0rem 2.5rem;
    padding: 5px 10px;
    background-color: var(--gmBlockColor);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 1px 4px 14px #888;
    line-height: 1.083em;
    font-size: 0.9rem;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.App hr {
    margin: 1px;
    border: 0px;
    border-top: 2px solid var(--dividersColor);
    margin: 1rem 0rem 1rem 0rem;
}

.App a {
    text-decoration: none;
    color: #000000;
}

.App a:hover {
    color: var(--linksHoverColor);
}

.App li {
    font-family: var(--fontFamily);
}

.App table {
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
    font-family: var(--fontFamily);
    display: block;
    padding-right: 2rem;
}

.App tbody {
    border-top: 3px solid var(--dividersColor);
    border-bottom: 3px solid var(--dividersColor);
    width: 100%;
    display: table;
    position: relative;
    margin-left: 1rem;
}

.App td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-collapse: collapse;
}

.App tbody tr:nth-child(even) {
    background-color: var(--tableBodyEvenRow);
}

.App tbody tr:nth-child(odd) {
    background-color: var(--tableBodyOddRow);
}

.App h1 span,
.App h2 span,
.App h3 span,
.App h4 span {
    font-size: unset;
}

.DiceExpressionButton {
    font-size: 0.8rem;
    width: max-content;
    height: max-content;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
