.ChangePasswordView {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ChangePasswordContainer {
    align-self: center;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid var(--dividersColor);
    padding: 1rem;
}

.ChangePasswordPasswordInput {
    margin-bottom: 0.5rem;
}
