.listItemTabbed {
    margin-left: 1.5rem;
}

.elementListItemName {
    margin-top: 0.2rem;
}

.unhighlightedListItem {
    border-bottom: 1px solid #ffffff00;
    border-left: 1px solid #ffffff00;
}

.highlightedListItem {
    border-bottom: 1px solid var(--dividersColor);
    border-left: 1px solid var(--dividersColor);
}

.collapseExpandButton {
    background: none;
    border: none;
}
