.listItemTabbed {
    margin-left: 1.5rem;
}

.elementListItemName {
    margin-top: 0.2rem;
}

.highlightedListItem {
    border: 1px dotted black;
}

.collapseExpandButton {
    background: none;
    border: none;
}