.homeTitleSection {
    display: flex;
}

.homeTitleButtons {
    position: relative;
    bottom: -1rem;
    text-align: right;
}

@media (max-width: 450px) {
    .homeTitleSection {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .homeTitleButtons {
        position: relative;
        text-align: right;
    }
}

.HomeNoContentText {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
