.ViewNarrativeContext {
    height: inherit;
}

.narrativeContextTitleButtons {
    position: relative;
    bottom: -1.5rem;
}

.narrativeContextTitleBar {
    position: relative;
    display: flex;
}

.EmptyNarrativeContextText {
    margin-top: 1rem;
    margin-left: 1rem;
}

@media (max-width: 450px) {
    .narrativeContextTitleBar {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .narrativeContextTitleButtons {
        position: relative;
        text-align: right;
    }
}