.ViewNarrativeContext {
}

.narrativeContextTitleButtons {
    position: relative;
    bottom: -1.5rem;
}

.narrativeContextTitleBar {
    position: relative;
}

.EmptyNarrativeContextText {
    margin-top: 1rem;
    margin-left: 1rem;
}
